<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
  $(function(){
    var mySpan = $("#hid").hide();
    $("#user_fumeur").click(function(){
      if($(this).is(":checked"))
        mySpan.show();
      else
        mySpan.hide();
    });
  });
</script>


<h1>Edition du profil</h1>

<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
	 <%= f.label :nom %><br />
	 <%= f.text_field :nom %>
	</div>
	<div class="field">
	 <%= f.label :date, "Date de naissance (format : yyyy-mm-dd)" %><br />
	 <%= f.text_field :date %>
	</div>
	<div class="field">
	 <%= f.label :poids, "Poids actuel (en Kg)" %><br />
	 <%= f.text_field :poids %>
	</div>
	<div class="field">
	 <%= f.label :poids_ideal, "Poids idéal (en Kg)" %><br />
	 <%= f.text_field :poids_ideal %>
	</div>
	<div class="field">
	 <%= f.label :taille, "Taille (en cm)" %><br />
	 <%= f.text_field :taille %>
	</div>
	<div class="field">
	 <span><%= f.label :fumeur, "fumeur ?" %><%= f.check_box :fumeur %></span>
	 <span id="hid"><%= f.label :aret, "j'aimerais arêter ?" %><%= f.check_box :aret %></span>
	</div>
	<div class="field">
	 <%= f.label :email %><br />
	 <%= f.text_field :email %>
	</div>
	<div class="field">
	 <%= f.label :password %><br />
	 <%= f.password_field :password %>
	</div>
	<div class="field">
	 <%= f.label :password_confirmation, "Confirmation" %><br />
	 <%= f.password_field :password_confirmation %>
	</div>
	<div class="actions">
	 <%= f.submit "Actualiser" %>
	</div>  
	<% end %>
<br />
<div>
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails">changer</a>
</div>
<br />
<br />
<br />
<br />
