<table class="profile" summary="Information profil">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.nom %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Nom</strong> <%= @user.nom %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>  
</table>
<br/>
<br/>

<table class="donnees">
	<tr>
	<td class="donnee round">Poids actuel : <%= @user.poids %></td>
	<td class="donnee round">Poids idéal : <%= @user.poids_ideal %></td>
	<td class="donnee round">Date de naissance : <%= @user.date %></td>
	</tr>
</table>
